*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body,html{
    height: 100%;
    width: 100%;
}

.contenedor{
    height: 100%;
    width: 100%;
}

#cabeza{
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    height: 28%;
    width: 100%;
}

.cuerpo{
    height: 72%;
    width: 100%;
}

.publicidad{
    width: 15%;
    height: 100%;
    float: left;
    background: black;
}


#P1, #P2,#P3,#P4,#P5{
    
    width: 100%;
    height: 11.1%;
    border: solid;
    text-align: center;
}

#P2 p,#P3 p,#P4 p,#P5 p{
    color: white;
}

#P1 a,#P2 a,#P3 a,#P4 a,#P5 a{
    text-decoration: none;
    color: white;
    display: block;
    min-height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#P1{
    padding: 7% 0% 0% 0%;
}

#P2:hover a ,#P3:hover a,#P4:hover a,#P5:hover a{
    transition: 1s all;
    background-color: white;
    color: black;
    /*font-size: 160%;*/
}

#P1:hover a{
    transition: 1s all;
    background-color: white;
    color: black;
    font-size: 160%;
}

#P6,#P7,#P8,#P9,#P10{
    width: 100%;
    height: 11.1%;
    border: solid;
    text-align: center;
}

#P6 a,#P7 a,#P8 a,#P9 a,#P10 a{
    text-decoration: none;
    color: white;
    display: block;
    min-height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#P6 p,#P7 p,#P8 p,#P9 p,#P10 p{
    color: white;
}

#P6:hover a,#P7:hover a,#P8:hover a,#P9:hover a,#P10:hover a{
    transition: 1s all;
    background-color: white;
    color: black;
    /*font-size: 160%;*/
}
#cuerpecito{
    padding: 2%;
    width: 85%;
    height: 100%;
    background: rgba(247,247,247,1);
    float: right;
}

/*---------------------------------------Inicio------------------------*/

#inicio{
    width: 100%;
    height: 100%;   
    background-image: url(img/anime.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

.inicio{
    width: 100%;
    height: 100%;   
    background-image: url(img/anime.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

/*---------------------------------------bongou------------------------*/

.conten{
    width: 100%;
    height: 100%;
    
}

#caja1{
    width: 40%;
    height: 60%;
    background-image: url(Bungou/bungou.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    float: left;
    border: solid;
}
#caja2{
    width: 60%;
    height: 60%;
    align-items: center;
    float: right;
    color: black;
    border: solid;
}
#caja3{
    width: 100%;
    height: 40%;
    align-items: center;
    color: black;
    float: right;
    border: solid;
}
/*---------------------------------------toloveru------------------------*/

.conten1{
    width: 100%;
    height: 100%;
    
}

#caja11{
    width: 40%;
    height: 60%;
    background-image: url(ToLoveru/ToLove.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    float: left;
    border: solid;
}
#caja21{
    width: 60%;
    height: 60%;
    align-items: center;
    float: right;
    color: black;
    border: solid;
}
#caja31{
    width: 100%;
    height: 40%;
    align-items: center;
    color: black;
    float: right;
    border: solid;
}
/*---------------------------------------hajimete------------------------*/

.conten2{
    width: 100%;
    height: 100%;
    
}

#caja12{
    width: 40%;
    height: 60%;
    background-image: url(hajimete/hajimete.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    float: left;
    border: solid;
}
#caja22{
    width: 60%;
    height: 60%;
    align-items: center;
    float: right;
    color: black;
    border: solid;
}
#caja32{
    width: 100%;
    height: 40%;
    align-items: center;
    color: black;
    float: right;
    border: solid;
}
/*---------------------------------------eldlive------------------------*/

.conten3{
    width: 100%;
    height: 100%;
    
}

#caja13{
    width: 40%;
    height: 60%;
    background-image: url(eldlive/eldlive.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    float: left;
    border: solid;
}
#caja23{
    width: 60%;
    height: 60%;
    align-items: center;
    float: right;
    color: black;
    border: solid;
}
#caja33{
    width: 100%;
    height: 40%;
    align-items: center;
    color: black;
    float: right;
    border: solid;
}
/*---------------------------------------Hitorijime My Hero------------------------*/

.conten4{
    width: 100%;
    height: 100%;
    
}

#caja14{
    width: 40%;
    height: 60%;
    background-image: url(eldlive/eldlive.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    float: left;
    border: solid;
}
#caja24{
    width: 60%;
    height: 60%;
    align-items: center;
    float: right;
    color: black;
    border: solid;
}
#caja34{
    width: 100%;
    height: 40%;
    align-items: center;
    color: black;
    float: right;
    border: solid;
}